.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}



img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.container {
    text-align: center;
}

#mycarousel {
    background-color: aqua;
}

#mycarousel img {
    height: 100px;
}
.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color:aliceblue;
    font-size: 20px;
}
